.container.container-captain
  .d-flex.justify-content-center
    %h1 Fights
  %hr.hr-captain-challenge

  %table.table
    %thead
      %tr
        %th
        %th
        %th
        %th{:colspan => "3"}
    %tbody
      - @fights.each do |fight|
        %tr
          %td= fight.fighter_left&.name
          %td VS
          %td= fight.fighter_right&.name
          %td= link_to 'Show', fight, class: 'btn btn-primary'
  %br/
