/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */

/*@import "bootstrap-sprockets";*/

@import "bootstrap";
@import "one-page-wonder";

body {
  background: #e7e7db;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  // background-image: url(001.jpg);
}

.flash-captain {
  width: 50%;
  margin-top: 2%;
  position:fixed;
  z-index:9999;
  border-radius:0px
}

.container-captain {
  margin-top: 6%;
  margin-bottom: 6%;
}

.row-character {
  margin-top: 2%;
  margin-bottom: 2%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hr-captain-challenge {
  border: none;
  border-top: 3px solid #9d0a0e;
  color: #9d0a0e;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.characters-listing-primary {
  font-size: 24px;
  color: #242527;
  text-transform: uppercase;
  font-weight: bold;
}

.characters-listing-secondary {
    font-size: 15px;
    color: #242527;
}

.character-card-links-item {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 0.2rem;
}

label {
  cursor: pointer;
  filter: grayscale(100%);
}

label:hover {
  filter: grayscale(0);
}
input[type="radio"]:checked + label {
  filter: grayscale(0);
}

.captain-pg {
  height: 40px;
}
